.buy{
    color: white;
    width: 2cm;
  }

  .buytickets{
    width: auto;
    height: 100%;
    padding: 8px 5px;
    text-align: center;
    background-color: #135bf2;
    color: white;
    border-radius: 1 1 8px 8px;
  }
  
  .buytickets Link{
    color: white;
  }
  
  .buytickets:hover{
    background-color: #fd7e14;
    color: white;
    cursor: pointer;
  }
  .test{
    color: white;
  }
  /* Position the date filter at the top right corner */
.date-filter {
  position: fixed;
  top: 3cm;
  right: 20px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  z-index: 1000; /* Ensure it's on top of other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px; /* Adjust width as needed */
}

/* Optional: Style the input field */
.date-filter input {
  width: 100%;
  margin-top: 10px;
}
